
body {
    color: var(--prmary-text-color);
    font-family: Roboto, Verdana,
            sans-serif;
}
    
    .container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 15px;
    }
    
    .section {
      padding: 94px 0;
    }
    
    .section:nth-child(2) {
    padding-bottom: 0;
    }
    